body {
	background: #0f4a97;
	background: -webkit-linear-gradient(#0f4a97, #7b6a55);
	background: -o-linear-gradient(#0f4a97, #7b6a55);
	background: -moz-linear-gradient(#0f4a97, #7b6a55);
	background: linear-gradient(#0f4a97, #7b6a55);
}

.responsive {
	max-width: 75%;
	height: auto;
}

img {
	padding: 15px;
}

.displayBox{
	width: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scroll-box {
	overflow-y: auto;
	height: 460px;
	float: left;
	padding: 1rem;
}